.login-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80c4e9;
}

.illustration-image {
    width: 700px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-content {
    width: 100%;
    max-width: 400px;
}

.form-fields {
    margin-bottom: 20px;
}

.input-field {
    height: 50px;
    border-radius: 10px;
}

button {
    height: 50px;
    width: 100%;
}

button.disabled {
    background-color: #d9d9d9;
}

button.primary {
    background-color: #80c4e9;
    color: white;
}

button.secondary {
    background-color: #8c8c8c;
    color: white;
}

img {
    max-width: 100%;
}
