.payment-policy-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 119, 250, .5)#f5f5f5;
  min-height: 100vh;
}

.payment-policy-content {
  max-width: 2000px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.payment-policy-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.payment-list {
  font-size: 16px;
  margin-bottom: 16px;
  color: #333;
}

.payment-policy-paragraph {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.payment-policy-note {
  font-weight: bold;
  color: #333;
}
